* {
    background-color:cornsilk;
    font-family: Fira Mono, 'Courier New', Courier, monospace;
}


#header {
    color:deepskyblue;
    background-color: azure;
    font-size: 50pt;
    margin:250px auto 100px;
    width: 700px;
    text-align: center;
    border-radius: 15px;
    min-width: 20%;
}

#headersub {
    color: dodgerblue;
    background-color: azure;
    font-size: 45pt;
    margin: 100px auto;
    width: 500px;
    text-align:center;
    border-radius: 15px;
    min-width: 20%;
}

table {

    font-size: medium;
    border: 3px solid;
    margin: 40px 10% 70px 10%;
    text-align: center;
}

.headrow th {
    background-color:darkseagreen;
    font-size: large;
    color:aliceblue;   
}

.firstcol {
    width: 15%;
}

.seccol {
    width: 15%;
}

td {
    border: 1px solid white;
    padding: 0.5%;
    background-color: white;
}

th {
    overflow: hidden;
    background-color:powderblue;
    border: 1px solid white;
    padding: 0.5%;
}

div {
    width: 100%;
    bottom: 0;
}

.linkbutton {
    border-radius: 45px;
    position: absolute;
    background-color: cadetblue;
    color: azure;
    width: 30%;
    height: max-content;
    font-size: 30px;
    text-align: center;
    overflow: hidden;
    min-width: 10%;
    display: inline-block;
    margin: 0px auto 20%;
    text-decoration: none;

}

#hpcss {
    display: inline-block;
    position: absolute;
    left: 20%;
    width: 25%;
}

#htmlttcss {

    right: 20%;
    width: 25%;
}

#hphtml {
    display: inline-block;
    position: absolute;
    left: 20%;
    width: 25%;
}

#htmltt {
    
    display: inline-block;
    position: absolute;
    left: 20%;
    width: 25%;
}

#cssep {
    
    display: inline-block;
    position: absolute;
    margin: auto;
    right: 20%;
    width: 25%;
}

.sectionhead {
    color: deepskyblue;
}

h2.sectionhead {
    font-size: x-large;
    font-family: Fira Mono, 'Courier New', Courier, monospace;
    display: block;
    border: solid rgb(154, 190, 223, 0.5);
    border-radius: 15px;
    padding: 0;
    text-align: center;
    width: max-content;
    margin: 20px auto;
    padding: 20px;
    background-color: azure;
}
 h4.sectionhead {
    
    font-size: large;
    font-family: Fira Mono, 'Courier New', Courier, monospace;
    display: block;
    border: solid rgb(154, 190, 223, 0.5);
    border-radius: 15px;
    border-width: 4px;
    text-align: center;
    width: max-content;
    position: static;
    margin: 15px auto;
    padding: 20px;
    background-color: azure;
 }